* {
    margin: 0;
    padding: 0;
}
body {
    scroll-behavior: smooth;
    width: 100%;
}

.main{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.st1{
    height: 69%;
    width: 24%;
    color: antiquewhite;
    background-image: url(./tony.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 7%;
}

.st2{
   width: 200%;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(88, 210, 192);
   margin-left: 170%;
   margin-top: 10%;
   display: flex;
   flex-direction: column;
   gap: 5rem;
   

}

.para{
    font-size: 1.4rem;
    color: antiquewhite;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.butt{
    background-color: black;
    height: 3rem;
    width: 25%;
    font-size: 1.3rem;
    color: rgb(49, 201, 181);
    border: ;
    align-items: center;
    border-color: rgb(49, 201, 181) ;
}

.butt:hover {
    color: black;
    background-color:rgb(49, 201, 181) ;
  }


.box{
    font-size: 250%;
}

@media (max-width: 480px) {
    body{
        background-color: black;
    }
    .main {
        flex-direction: column;
        align-items: center;
    }
    
    

    .st1 {
        width: 90%;
        margin: 5% 0;
    }

    .st2 {
        width: 100%;
        margin-left: 0;
        margin-top: 130%;
        align-items: center;
        gap: 2rem;
    }

    .butt {
        width: 50%;
    }

    .box {
        font-size: 300%;
    }

    .para {
        font-size: 1.4rem;
    }
}

    .para {
        font-size: 1.4rem;
    }
}
